[submodule "Upstreamable"]
	path = Upstreamable
	url = git@github.com:red-elf/Upstreamable.git
[submodule "Project"]
	path = Project
	url = git@github.com:red-elf/Project.git
[submodule "Toolkit"]
	path = Toolkit
	url = git@github.com:red-elf/Software-Toolkit.git
